            
            body{
                margin:0px ;
                padding:0px;

            }
       
        
            div{
            border:0px solid green;
            }
            .wraper-top{
                border:0px solid ;
                width: 1600px;


            }
            
            .headside{
            position: relative;
            border:0px solid ; 
            text-align: right;
            padding-top:5px;
            width:1570px;
            font-size:11px;
            right:170px;
            }
            header{
            border:0px solid green;          
            height : 120px;
            padding-left: 267px;
            padding-top:4px;
            margin-top: 18px;


            }
            
            .logo{
                padding-left: 0px;
            }
            aside{
                border:0px solid;
                height:100vh;
                margin:auto;
                width:1200px;
            }
            nav{
                border:0px solid;
                text-align: center;
                margin-top: -9px;
                margin-right: 0px;
                width:1600px;
                padding-right:2px;
                
                
            }
            .div-wraper-main{
                position:relative;
                width:1260px;
                height:2500px;
                padding-top: 0px;
                margin-left:280px;
                margin-top:25px;
                
            }
            section{
                border:0px solid red;
                text-align: center;
                margin-top: -5px;
                padding :0px;
                margin-left: 0px;
                margin-right: 0px;

            }
            .ad{
                display:inline;
                float :left;
                margin-top:-4px;
                margin-right: 0px;

            }
            .login{
                border:1px solid #DAE1E6;
                display: block;
                width:348px;
                height:130px;
                float:right;
                margin-top: -5px;
                margin-right: 129px;
                background-color: #F7F9FA;
               
            }
            .log-p1{
                font-size:12px;
                text-align: left;
                padding-left: 20px;
                padding-top: 4px;
                color:#808080;
            }
            .log-img1{
                margin-top :-5px;
                
            }
            .log-img2{
                display:inline;
                position: relative;
                top:5px;
                right:46px;

            }
            .log-img3{
                display:inline;
                position: relative;
                top:6px;
                left:47px;
            }
            .log-p2{
                font-size:12px;
                display:inline;
                position: relative;
                top:5px;
                right:47px;
            }
            .log-p3{
                font-size:12px;
                display:inline;
                position: relative;
                top:5px;
                left:44px;
            }
            .news-img1{
                display:inline;
                text-align: center;
                float : left;
                position:relative;
                top:8px;
            } 
            .news-img2{

                display:block;
                text-align: center;
                position:relative;
                top:13px;
                right:49px;
            }
            .news-stand-img1{
                margin-top: 18px;
                float:left;
            }
            .news-stand-ad-img{
                position: relative;
                top:25px;
                right:50px;
            }
            .trendshoping-img{
                position: relative;
                top:49px;
                left:29px;
                display:inline;
                  
            }
            .a-trend1{
                font-size:14px;
                font-weight: bold;
                position: relative;
                bottom:24px;
                left:18px;
            }
            .a-trend2{
                font-size:14px;
                font-weight: bold;
                position: relative;
                top:3px;
                left:134px;
            }
            .a-today-read{
                position: relative;
                left:50px;
            }
            .a-today-read1{
                font-size:14px;
                font-weight: bold;
                position: relative;
                display: inline;
                top:102px;
                right:824px;
            }
            .a-today-read2{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:816px;
                color:#808080;
            }
            .a-today-read3{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:534px;

            }
            .a-today-read4{
                position: relative;
                display: inline;
                top:105px;
                right:534px;

            }
            .a-today-read5{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:537px;

                color:#808080;
            }
            .read-nav{
                position: relative;
                top:45px;
                right:254px;
   
            }
            .read-img1{
                position: relative;
                display : inline;
                top:61px;
                right:262px;
            }
            .read-img2{
                position: relative;
                display : inline;
                top:60px;
                right:246px;
            }
            .read-write{
                position: relative;
                display: inline;
            }
            .read-write1{
                position: relative;
                display: inline-block;
                text-align:left;
                top:67px;
                right:307px;
            }
            .read-write2{
                position: relative;
                display:inline-block;
                top:67px;
                right:245px;
                text-align: left;   
            }
            .read-write1-p1{
                color:#8449CA;
                font-weight: bold;
                font-size:12px;
                line-height:100%;
            }
            .read-write1-p2{
                font-weight: bold;
                font-size: 13px;
                line-height:80%;
            }
            .read-write1-p3{
                font-size:13px;
                line-height:80%;
            }
            .read-write1-p4{
                font-size:11px;
                line-height:90%;
            }
            .line{
                text-align: left;
                position: relative;
                top:67px;
            }
            

            .treand-shopping1{
                position: relative; 
                left:36px;
                top:15px;

             }
            .treand-shopping2{
                position: relative;
                left:790px;
                bottom:17px;
                width:365px;
            }
            .treand-shopping-a1{
                font-size: 12px;
            }
            .beauty{
                position: relative;
                top:70px;
                right:15px;

            }
            .beauty-top-img{
            position: relative;
            text-align: left;
            display:inline;
            right:531px;
            }
            .beauty-top{
            position: relative;
            text-align: left;
            display:inline;
            left:205px;
            bottom:120px;
            }
            .beauty-a1{
                color:#8449CA;
                font-weight: bold;
                font-size:12px;
                line-height: 50%;
            }
            .beauty-a2{
                font-weight: bold;
                font-size:13px;
                line-height: 50%;
                
            }
            .beauty-a3{
                font-size:13px;
                line-height: 50%;
            }
            .beauty2{
                position: relative;
                bottom:80px;
            }
            .beauty3{
                position: relative;
                bottom:160px;
            }
            .beauty4{
                position: relative;
                bottom:240px;
            }
            .beauty5{
                position: relative;
                bottom:320px;
            }
            .side-wrap{
                border:0px solid violet;
                position:absolute;
                left:872px;
                width:385px;
                height:2000px;
            }
            .next1{
                position:absolute;
                left:135px;
                top:4px;

            }