            
            body{
                margin:0px ;
                padding:0px;

            }
       
        
            div{
            border:0px solid green;
            }
            .wraper-top{
                border:0px solid ;
                width: 1600px;


            }
            
            .headside{
             border:0px solid ; 
            text-align: right;
            padding-right:20px;
            padding-top:3px;
            width:1570px;
            font-size:13px;
            }
            header{
            border:0px solid green;          
            height : 120px;
            padding-left: 298px;
            padding-top:8px;
            margin-top: 18px;


            }
            
            .logo{
                padding-left: 0px;
            }
            aside{
                border:0px solid;
                height:100vh;
                margin:auto;
                width:1200px;
            }
            nav{
                border:0px solid;
                text-align: center;
                margin-top: 6px;
                margin-right: 500px;
                width:1600px;
                padding-left:0px;
                
                
            }
            .div-wraper-main{
                position:relative;
                width:1260px;
                height:2500px;
                padding-top: 0px;
                margin-left:305px;
                margin-top:25px;
                
            }
            section{
                border:0px solid red;
                text-align: center;
                margin-top: -5px;
                padding :0px;
                margin-left: 0px;
                margin-right: 0px;

            }
            .ad{
                display:inline;
                float :left;
                margin-top:-4px;
                margin-right: 0px;

            }
            .login{
                display: block;
                width:385px;
                height:150px;
                float:right;
                margin-top: -4px;
                margin-right: -2px;
                background-color: #F7F9FA;
               
            }
            .log-p1{
                font-size:13px;
                text-align: left;
                padding-left: 22px;
                padding-top: 6px;
            }
            .log-img1{
                margin-top :-4px;
                
            }
            .log-img2{
                display:inline;
                position: relative;
                top:8px;
                right:55px;

            }
            .log-img3{
                display:inline;
                position: relative;
                top:8px;
                left:53px;
            }
            .log-p2{
                font-size:13px;
                display:inline;
                position: relative;
                top:7px;
                right:57px;
            }
            .log-p3{
                font-size:13px;
                display:inline;
                position: relative;
                top:7px;
                left:49px;
            }
            .news-img1{
                display:inline;
                text-align: center;
                float : left;
            } 
            .news-img2{

                display:block;
                text-align: center;
                position:relative;
                top:7px;
                left:19px;
            }
            .news-stand-img1{
                margin-top: 10px;
                float:left;
            }
            .news-stand-ad-img{
                position: relative;
                top:20px;
                left:18px;
            }
            .trendshoping-img{
                position: relative;
                top:45px;
                left:35px;
                display:inline;
                  
            }
            .a-trend1{
                font-size:15px;
                font-weight: bold;
                position: relative;
                bottom:25px;
                left:20px;
            }
            .a-trend2{
                font-size:15px;
                font-weight: bold;
                position: relative;
                bottom:11px;
                left:151px;
            }
            .a-today-read{
                position: relative;
                left:50px;
            }
            .a-today-read1{
                font-size:15px;
                font-weight: bold;
                position: relative;
                display: inline;
                top:81px;
                right:885px;
            }
            .a-today-read2{
                font-size:13px;
                position: relative;
                display: inline;
                top:81px;
                right:882px;
                color:#808080;
            }
            .a-today-read3{
                font-size:13px;
                position: relative;
                display: inline;
                top:81px;
                right:560px;


            }
            .a-today-read4{
                position: relative;
                display: inline;
                top:83px;
                right:556px;

            }
            .a-today-read5{
                font-size:13px;
                position: relative;
                display: inline;
                top:61px;
                right:302px;

                color:#808080;
            }
            .read-nav{
                position: relative;
                top:30px;
                right:210px;
   
            }
            .read-img1{
                position: relative;
                display : inline;
                top:45px;
                right:220px;
            }
            .read-img2{
                position: relative;
                display : inline;
                top:44px;
                right:202px;
            }
            .read-write{
                position: relative;
                display: inline;
            }
            .read-write1{
                position: relative;
                display: inline-block;
                text-align:left;
                top:70px;
                right:278px;
            }
            .read-write2{
                position: relative;
                display:inline-block;
                top:70px;
                right:196px;
                text-align: left;   
            }
            .read-write1-p1{
                color:#8449CA;
                font-weight: bold;
                font-size:13px;
            }
            .read-write1-p2{
                font-weight: bold;
                font-size: 13px;
            }
            .read-write1-p3{
                font-size:14px;
            }
            .read-write1-p4{
                font-size:12px;
            }
            .line{
                text-align: left;
                position: relative;
                top:60px;
            }
            

            .treand-shopping1{
                position: relative; 
                left:47px;
                bottom:36px;

             }
            .treand-shopping2{
                position: relative;
                left:884px;
                bottom:34px;
                width:365px;
            }
            .treand-shopping-a1{
                font-size: 13px;
            }
            .beauty{
                position: relative;
                top:60px;

            }
            .beauty-top-img{
            position: relative;
            text-align: left;
            display:inline;
            right:531px;
            }
            .beauty-top{
            position: relative;
            text-align: left;
            display:inline;
            left:210px;
            bottom:140px;
            }
            .beauty-a1{
                color:#8449CA;
                font-weight: bold;
                font-size:13px;
            }
            .beauty-a2{
                font-weight: bold;
                font-size:13px;
            }
            .beauty-a3{
                font-size:13px;
            }
            .beauty2{
                position: relative;
                bottom:135px;
            }
            .beauty3{
                position: relative;
                bottom:270px;
            }
            .beauty4{
                position: relative;
                bottom:405px;
            }
            .beauty5{
                position: relative;
                bottom:540px;
            }
            .side-wrap{
                border:0px solid violet;
                position:absolute;
                left:872px;
                width:385px;
                height:2000px;
                
            }