            
            body{
                margin:0px ;
                padding:0px;

            }
       
        
            div{
            border:0px solid green;
            }
            .wraper-top{
                border:0px solid ;
                width: 1600px;


            }
            
            .headside{
            position: relative;
            border:0px solid ; 
            text-align: right;
            padding-top:5px;
            width:1570px;
            font-size:11px;
            right:170px;
            }
            header{
            border:0px solid green;          
            height : 120px;
            padding-left: 267px;
            padding-top:4px;
            margin-top: 18px;


            }
            
            .logo{
                padding-left: 0px;
            }
            aside{
                border:0px solid;
                height:100vh;
                margin:auto;
                width:1200px;
            }
            nav{
                border:0px solid;
                text-align: center;
                margin-top: -9px;
                margin-right: 0px;
                width:1600px;
                padding-right:2px;
                
                
            }
            .div-wraper-main{
                border:0px solid;
                position:relative;
                width:1260px;
                height:2200px;
                padding-top: 0px;
                margin-left:280px;
                margin-top:25px;
                
            }
            section{
                border:0px solid red;
                text-align: center;
                margin-top: -5px;
                padding :0px;
                margin-left: 0px;
                margin-right: 0px;

            }
            .ad{
                display:inline;
                float :left;
                margin-top:-4px;
                margin-right: 0px;

            }
            .login{
                border:1px solid #DAE1E6;
                display: block;
                width:348px;
                height:130px;
                float:right;
                margin-top: -5px;
                margin-right: 129px;
                background-color: #F7F9FA;
               
            }
            .log-p1{
                font-size:12px;
                text-align: left;
                padding-left: 20px;
                padding-top: 4px;
                color:#808080;
            }
            .log-img1{
                margin-top :-5px;
                
            }
            .log-img2{
                display:inline;
                position: relative;
                top:5px;
                right:46px;

            }
            .log-img3{
                display:inline;
                position: relative;
                top:6px;
                left:47px;
            }
            .log-p2{
                font-size:12px;
                display:inline;
                position: relative;
                top:5px;
                right:47px;
            }
            .log-p3{
                font-size:12px;
                display:inline;
                position: relative;
                top:5px;
                left:44px;
            }
            .news-img1{
                display:inline;
                text-align: center;
                float : left;
                position:relative;
                top:8px;
            } 
            .news-img2{

                display:block;
                text-align: center;
                position:relative;
                top:13px;
                right:49px;
            }
            .news-stand-img1{
                margin-top: 18px;
                float:left;
            }
            .news-stand-ad-img{
                position: relative;
                top:25px;
                right:50px;
            }
            .trendshoping-img{
                position: relative;
                top:49px;
                left:29px;
                display:inline;
                  
            }
            .a-trend1{
                font-size:14px;
                font-weight: bold;
                position: relative;
                bottom:24px;
                left:18px;
            }
            .a-trend2{
                font-size:14px;
                font-weight: bold;
                position: relative;
                top:3px;
                left:134px;
            }
            .a-today-read{
                position: relative;
                left:50px;
            }
            .a-today-read1{
                font-size:14px;
                font-weight: bold;
                position: relative;
                display: inline;
                top:102px;
                right:824px;
            }
            .a-today-read2{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:816px;
                color:#808080;
            }
            .a-today-read3{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:534px;

            }
            .a-today-read4{
                position: relative;
                display: inline;
                top:105px;
                right:534px;

            }
            .a-today-read5{
                font-size:12px;
                position: relative;
                display: inline;
                top:102px;
                right:537px;

                color:#808080;
            }
            .read-nav{
                position: relative;
                top:61px;
                right:254px;
   
            }
            .read-img1{
                position: relative;
                display : inline;
                top:77px;
                right:262px;
            }
            .read-img2{
                position: relative;
                display : inline;
                top:76px;
                right:246px;
            }
            .read-write{
                position: relative;
                display: inline;
            }
            .read-write1{
                position: relative;
                display: inline-block;
                text-align:left;
                top:67px;
                right:307px;
            }
            .read-write2{
                position: relative;
                display:inline-block;
                top:67px;
                right:245px;
                text-align: left;   
            }
            .read-write1-p1{
                color:#8449CA;
                font-weight: bold;
                font-size:12px;
                line-height:100%;
            }
            .read-write1-p2{
                font-weight: bold;
                font-size: 13px;
                line-height:80%;
            }
            .read-write1-p3{
                font-size:13px;
                line-height:80%;
            }
            .read-write1-p4{
                font-size:11px;
                line-height:90%;
            }
            .line{
                text-align: left;
                position: relative;
                top:67px;
            }
            .line1{
                text-align: left;
                position: relative;
                top:80px;
            }
            .line2{
                text-align: left;
                position: relative;
                bottom:605px;
            }
            .line3{
                text-align: left;
                position: relative;
                bottom:210px;
            }
            .line4{
                width: 350px;
                border:0px solid;
                text-align: left;
                position: relative;
                bottom:30px;
                left:783px;
            }

            .treand-shopping1{
                position: relative; 
                left:36px;
                top:15px;
                background-color: #F7F9FA;
                display: inline-block;
                border :0px solid;
            }
            .treand-shopping2{
                position: relative;
                left:36px;
                bottom:0px;
                width:340px;
                top:15px;
                display: inline-block;
                background-color: #F7F9FA;
 
            }
            .treand-shopping-a1{
                font-size: 12px;
            }
            .beauty-wrap{
                position: relative;
                top:70px;
                right:15px;
                height:650px;
                border:0px solid red;

            }
            .beauty-wrap2{
                position: relative;
                bottom:600px;
                right:15px;
                height:250px;
                border:0px solid red;

            }
            .beauty-top-img{
            position: relative;
            text-align: left;
            display:inline;
            right:531px;
            }
            .beauty-top{
            position: relative;
            text-align: left;
            display:inline;
            left:205px;
            bottom:120px;
            }
            .beauty-a1{
                color:#8449CA;
                font-weight: bold;
                font-size:12px;
                line-height: 50%;
            }
            .beauty-a2{
                font-weight: bold;
                font-size:13px;
                line-height: 50%;
                
            }
            .beauty-a3{
                font-size:13px;
                line-height: 50%;
            }
            .beauty2{
                position: relative;
                bottom:80px;
            }
            .beauty3{
                position: relative;
                bottom:160px;
            }
            .beauty4{
                position: relative;
                bottom:240px;
            }
            .beauty5{
                position: relative;
                bottom:320px;
            }
            .side-wrap{
                border:0px solid violet;
                position:absolute;
                left:872px;
                width:385px;
                height:2000px;
            }
            .next1{
                position:relative;
                left:137px;
                top:37px;
            }
            .next2{
                position:relative;
                display :inline-block;
                left:330px;
                bottom:30px;
            }
            .side-img{
                border:0px solid green;     
                width:345px;
                height:900px;
                position:relative;
                top:40px;
                margin-left:-90px;
                padding-left:5px;



            }
            .side-img-div{
                border:0px solid red;
                display:inline-block;
            }
            .side-img-1{
                display:inline-block;
            }
            .side-img-2{
                display:inline-block;
            }
            .side-img-3{
                display:inline-block;
            }
            .side-img-4{
                display:inline-block;
            }
            .side-img-5{
                display:inline-block;
            }
            .side-img-6{
                display:inline-block;
            }
            .side-img-7{
                display:inline-block;
            }
            .side-img-8{
                display:inline-block;
            }
            .side-img-9{
                display:inline-block;
            }
            .side-img-10{
                display:inline-block;
            }
            .side-img-11{
                display:inline-block;
            }
            .side-img-12{
                display:inline-block;
            }
            .side-p1{
                font-size: 12px;
                font-weight: bold;
                text-align:center;
            }
            .side-p2{
                font-size: 12px;
                text-align:center;

            }
            .av{
                position:relative;
                bottom:600px;
                right:252px


            }
            .av1{
                position:relative;
                display:inline-block;
            }
            .av-p1{
                position:relative;
                text-align: left;
                font-weight: bold;
                font-size:13px;
                line-height: 50%;
            }
            .av-p2{
                position:relative;
                text-align: left;
                font-size:12px;
                line-height: 50%;
                color: #808080;
            }
            .shoppingnews{
                width: 345px;
                text-align: left;
                position: relative;
                bottom:30px;
                left:783px;
            }
            .shoppingnews-top{
                position: relative;
                display:inline-block;
                left:150px;
                top:8px;
            }
            .shoppingnews-a{
                display:inline-block;
                position: relative;
                text-align: left;
                font-size: 13px;
                font-weight: bold;
            
            }
            .spnessws{
                border:2px solid;
                position:relative;
                width:345px;
                height:350px;
                border: 1px solid;
                left:500px;

            }
            .spnews-li{
                display:inline-block;
                position: relative;
                border:2px solid red;
            }
            .list li::marker{
                color : rgb(134, 214, 15);
                position: relative;
                
            }
            .list{
                font-size: 13px;
                line-height: 200%;
                position: relative;
                right:20px;
            }
            .last-side{
                width: 345px;
                height:350px;
                text-align: left;
                position: relative;
                bottom:30px;
                left:785px;

            }
            .last-sdie-top{
                position: relative;
                display:inline-block;
                left:150px;
                top:8px;


            }
            .last-side-a{
                font-size: 13px;
                position: relative;
                display:inline-block;
                top:10px;
                left:6px;
            }
            .last-side-right{
                position: relative;
                display:inline-block;
                bottom: 20px;
                left:254px;
            
            
            }
            .last-side-img{
                position: relative;
                bottom:50px;
                left:10px;
            }
            .last-side-img1{
                position: relative;

                top:30px;
            }
            .last-side-img2{
                position: relative;
                display:inline-block;
            
                left:170px;
                bottom:136px;
            }
            .footer-wrap{
                width:100%;
                height:400px;
                border: 1px solid #DAE1E6;
                background-color: #F7F9FA;
                position :relative;
                top:115px;

            }
            .footer-img{
                position :relative;
                display:inline-block;
                left:280px;
             
            }
            .footer-top1{
                position :relative;
                display:inline-block;
                top:18px;
                
            }
            .footer-top2{
                position :relative;
                display:inline-block;
               left:80px; 
                top:21px;
            }
            .footer-top3{
                position :relative;
                display:inline-block;
                left:170px;
                top:17px;
            }
            .footer-a1{
                position :relative;
                display:inline-block;
                left:290px;
                bottom:10px;
            }
            .footer-a2{
                position :relative;
                display:inline-block;
                left:290px;
                bottom:15px;
            }
            .footer-a3{
                position :relative;
                display:inline-block;
                left:290px;
                bottom:10px;
            }
            .footer-p1{
                color:#58C464;
                font-weight:bold;
                font-size: 12px;
                line-height: 80%;
            }
            .footer-p2{
                font-weight:bold;
                font-size: 12px;;
                line-height: 70%;
            }
            .footer-p3{
                font-size: 12px;;
                line-height:70%;
            }
            .footerline1{
                position :relative;
                top:15px;
                text-align: center;
            }
            .footerline2{
                position :relative;
                bottom:5px;
                text-align: center;
            }
            .notice{
                position :relative;
                left:280px;
                width:100px;
                top:10px;
                 }
            .service{
                position :relative;
                left:1320px;
                bottom:13px;
                width:100px;
            }
            .footer-p4{
                position :relative;
                display:inline;
                font-size: 12px;
                font-weight: bold;
                left:280px;
                line-height: 200%;
                color:

            }
            .a1{
                position :relative;
                font-size: 12px;
                left:300px;
                color:#808080;
            }
            .footer-whale{
                position :relative;
                display:inline;
                float :right;
                right:495px;
                bottom:59px;
            }
            .footer-flower{
                position :relative;
                display:inline;
                float :right;
                right:274px;
                bottom:61px;
            }
            .whale-text{
                position :relative;
                display:inline;
                float :right;
                right:460px;
                bottom:64px;
            }
            .flower-text{
                position :relative;
                display:inline;
                float :right;
                right:210px;
                bottom:66px;
            }
            .whale-p1{
                font-size: 12px;
                font-weight: bold;
                line-height: 60%;
            }
            .whale-p2{
                font-size: 12px;
                line-height: 60%;
            }
            .footerline3{
                position :relative;
                width:700px;
                left:272px;
                top:3px;
            }
            .footer-text1{
                font-size: 12px;
                font-weight: bold;
            }
            .footer-text2{
                font-size: 12px;    
                color:#808080;


            }
            .text-1{
                position :relative;
                left:280px;
                top:5px;
            }